<div class="sidebar">
  <div class="logo">
    <div class="img">
      <img src="../../../assets/imgs/logo.png" alt="">
    </div>
    <p class="name">鲜&nbsp;&nbsp;&nbsp;&nbsp;活</p>
  </div>
  <ul class="outlist">
      <li class="h1">
        <a (click)="choose(1)" [routerLink]='["/home"]'>首页</a>
      </li>
      <li>
        <span (click)="show('systemlist')">系统管理<img src="../../../assets/imgs/arrow.png" class="right"></span>
        <ul class="systemlist">
          <li class="h2">
            <a (click)="choose(2)" [routerLink]='["/question"]'>体质检测题库</a>
          </li>
          <li class="h3">
            <a (click)="choose(3)" [routerLink]='["/recommend"]'>系统推荐</a>
          </li>
          <li class="h4">
            <a (click)="choose(4)" [routerLink]='["/shoulds"]'>宜忌</a>
          </li>
          <li class="h5">
            <a (click)="choose(5)" [routerLink]='["/feedback"]'>意见反馈</a>
          </li>
        </ul>
      </li>
      <li>
        <span (click)="show('userlist')">用户管理<img src="../../../assets/imgs/arrow.png" class="right"></span>
        <ul class="userlist">
          <li class="h6">
            <a (click)="choose(6)" [routerLink]='["/information"]'>个人信息</a>
          </li>
          <li>
            <span (click)="show('userdetail')">用户详细信息</span>
            <ul class="userdetail">
              <li class="h7">
                <a (click)="choose(7)" [routerLink]='["/infodetail"]'>详细信息</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="h8">
        <a [routerLink]='["/admins"]' (click)="choose(8)">管理员管理</a>
      </li>
  </ul>
</div>
<router-outlet></router-outlet>