li{
    color: white;
    line-height: 40px;
}
li:hover{
    cursor: pointer;
}
a{
    text-decoration-line: none;
}

.sidebar{
    width: 15%;
    height: 626px;
    float: left;
    background-color: #23a257;
    position: fixed;
}

.logo{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: white 1px solid
}
.logo p{
    color: white;
    font-size: 25px;
    line-height: 62px;
    margin-top: 10px;
}
img{
    width: 62px;
    height: 62px;
}


.outlist{
    margin-top: 20px;
    text-indent: 2em;
    font-size:1.1em;
}

.outlist li a:hover{
    color: rgb(255,235,59);
}

.systemlist li{
    text-indent: 4em;
}
.userlist{
    text-indent: 4em;
}
.userdetail{
    text-indent: 6em;
}
.right{
    /* margin: 16px 10px 0 0; */
    width: 10px;
    margin-left:0px;
    /* height: 8px; */
    /* float: right; */
}
/* 是否显示 */
.hide{
    display: none;
}
/* 选中 */
.choose{
    font-weight: bold;
    background-color: rgba(240, 238, 122, 0.363);
}
.choose a{
    color: gold;
}

