page-home {
    padding: 0px;
    margin:0px;
    .toolbar-title-md{
            padding-left: 15%;
        }
    ion-content{
        background-color:  #e2e2e2;
        .slide{
            width:100%;
            height:35%;
            background-repeat: no-repeat;
            // background-size: 100% 100%;
            .s1{
                background-image:url(../../assets/imgs/homeslide/大雪.jpg);
            }
            .s2{
                background-image:url(../../assets/imgs/homeslide/冬至.jpg);
            }
            .s3{
                background-image:url(../../assets/imgs/homeslide/小寒.jpg);
            }
            .search{
                padding-left: 12px;
                width:100px;
                height: 26px;
                border-radius: 16px;
                background: white;
                opacity: 0.6;
                input{
                    border:none;
                    background: transparent;
                    width: 60px;
                }
                float: right;
                margin: -90px auto 0 auto;
                border: 0.5px solid white;
            }
        }
        ul{
            padding-left: 0!important;
        }
//卡片
        .card{
            color:rgba(79,79,79, $alpha: 1.0);
            border: none;
            float: left;
            width: 100%;
            height: 170px;
            .lc{
                width: 50%;
                height: 115px;
                float: left;
                font-size: 18px;
                text-align: center;
                p{
                    margin: 16px 0;
                    line-height: 25px;
                }
                #yi{
                    display: inline-block;
                    border: 1px solid #23a257;
                    width: 30px;
                    height: 30px;
                    border-radius: 15px;
                } 
                #ji{
                    display: inline-block;
                    background: #23a257;
                    width: 28px;
                    height: 28px;
                    border-radius: 14px;
                    color: white;
                }
            }           
            .rc{
                width: 50%;
                height: 115px;
                float: left;
                border-left:1px solid #e2e2e2;
                img{
                    position: relative;
                    top: 25px;
                    margin: 0px;
                    width: 50px;
                    height: 50px;
                }
                .weather-word{
                    float:left;
                    margin:15px auto auto 10px;
                }
            }
        }
//调理
        .better{
           div{
               .plist{
                   ion-icon{
                       color:#aaa!important;
                   }
                   color: #23a257;
                   width: 100%;
                   line-height: 25px;
                   font-size: 16px;
                   border-bottom: 1px dotted #23a257;
                   span{
                       display: inline-block;
                       width: 60%;
                       font-size: 14px;
                       overflow:hidden;
                       text-overflow: ellipsis;
                       position: relative;
                       bottom: -6px;
                   }
               }
               .box{
                   width: 340px;
                   margin: 0 auto;
                //    border: 1px solid black;
                   border-radius: 6px;
                   .paragraph{
                        color: #777;
                        font-size: 16px;
                        white-space: normal!important;
                        text-indent: 2em;
                   }
               }
           }
        }
        
        .rep{
            padding: 10px;
            font-size: 18px;
            border-bottom:1px solid #e2e2e2;
            border-top:1px solid #e2e2e2;
            span{
                position: relative;
                right: -0.5em;
                font-size: 17px;
            }
            .arrow{
                font-size: 14px;
                float: right;
                margin-right: 20px;
                color: #aaa;
                margin-top: 3px;
            }            
        }
        
        .article{
            // background-color:  #fff;
            // margin-top: 10px;
        }
//导航  
        .navlist{
            width: 100%;
            height: 30px;
            float: left;
        }
        .navlist li{
            width: 25%;
            line-height: 30px;
            font-size: 16px;
            text-align: center;
        }
        .first{
            border-bottom:2px solid #23a257;
        }
//推荐列表
        .out{
            width: 100%;
            float: left;
            // border: black 1px solid;
        }
        .out li{
            width: 100%;
            margin: 0 0 10px 0;
            // border: black 1px solid;
        }
        p{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin: 0 10px 10px 10px;
        }
        .left{
            width: 75%;
            float: left;
        }
        .title{
            width: 200px;
            font-size: 16px;
            font-weight: bold;
        }
        img{
            width: 25%;
            height: 70px;
            float: left;
        }
    }
}

