<div text-center [hidden]='header'> 
  <ion-header>
  <ion-navbar color="wh">
    <ion-title>首页</ion-title>
    <ion-buttons end (click)="goSearch()">
        <button ion-button icon-only>
          <ion-icon name="search" color="primary"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
</div>

<ion-content (ionScroll)="scrollHandler($event)">
  <div class="slide">
    <ion-slides autoplay="3000" pager loop>
      <ion-slide class='s1'>
        <div class="search" (click)="goSearch()">
          <ion-icon name="search"></ion-icon>
          <input type="text" placeholder="搜索">
        </div>
      </ion-slide>
      <ion-slide class='s2'>
        <div class="search" (click)="goSearch()">
          <ion-icon name="search"></ion-icon>
          <input type="text" placeholder="搜索">
        </div>
      </ion-slide>
      <ion-slide class='s3'>
        <div class="search" (click)="goSearch()">
          <ion-icon name="search"></ion-icon>
          <input type="text" placeholder="搜索">
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="card">  
    <div class="rep">  
      <ion-icon name='alarm'></ion-icon> <span>今日宜忌</span>
    </div>
    <div class="lc">
      <p><span id="yi">宜</span> {{should}}</p>
      <p><span id="ji">忌</span> {{avoid}}</p>
    </div>
    <div class="rc">
        <div class="weather-img"><img src = '{{img}}'></div>
        <div class="weather-word">
            <p>天气：<span>{{weather}}</span></p>
            <p>温度：<span>{{temperature}}℃</span></p>
            <p>降水：<span>{{humidity}}</span></p>
        </div>        
    </div>
  </div>
  <div class="better">  
    <div class="rep" (click)='goReport()'>  
      <ion-icon name='body'></ion-icon>  <span>我的体质报告</span><span class="arrow">点击查看</span>
    </div>
    <div class="rep">  
      <ion-icon name='bookmarks'></ion-icon>  <span>我的调理方案</span>
    </div>
    <div>
      <p class="plist">
        <ion-icon name='bulb'></ion-icon> 药膳调理
        <span>({{yaoshan}})</span>
        <ion-icon name='ios-arrow-down' (click)='show(1)'></ion-icon>
      </p>
      <div class="box" [hidden]='clicks.isClick1' *ngFor='let item of yaoshan'>
        <p class="paragraph">{{item}}</p>
      </div>
      <p class="plist"><ion-icon name='bulb'></ion-icon> 起居调摄
        <span>({{qiju}})</span>
        <ion-icon name='ios-arrow-down' (click)='show(2)'></ion-icon>
      </p>
      <div class="box" [hidden]='clicks.isClick2'>
        <p class="paragraph">{{qiju}}</p>
      </div>
      <p class="plist">
        <ion-icon name='bulb'></ion-icon> 情志调理
        <span>({{qingzhi}})</span>
        <ion-icon name='ios-arrow-down' (click)='show(3)'></ion-icon>
      </p>
      <div class="box" [hidden]='clicks.isClick3'>
        <p class="paragraph">{{qingzhi}}</p>
      </div>
    </div>

  </div>
  <div class="article">
    <div class="rep">  
      <ion-icon name='book'></ion-icon>  <span>好文推荐</span>
    </div>
    <div  padding>
      <!-- 推荐 -->
      <div class="out">
        <ul>
          <li *ngFor="let tj of tuijian;" (click)="goHomeTail(tj.rid)">
              <div class="left">
                <p class="title">{{tj.title}}</p>
                <p>{{tj.content}}</p>
              </div>
              <img src="{{tj.imgs}}">
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  
</ion-content>













<!-- <div class="recommended">
  <ul class="navList">
      <li *ngFor="let item of arr;let idx=index" (click)="isClick(idx)" [class.first]="isActive==idx">{{arr[idx]}}</li>
  </ul>
  <div [ngSwitch]="isActive">


    <div *ngSwitchCase="0">
      <div class="recommendations" (click)="goarticle()">
        <div class="dation">
          <div class="rtitle">冬季养生金点子</div>
          <div class="des">一定要注意保暖，忌辛凉食物</div>
          <p>10min</p> 
        </div>
        <div class="recommendationsimg">
          <img src="assets/imgs/recommended01.jpg">
        </div>
      </div>
      <div class="recommendations" (click)="goarticle()">
          <div class="dation">
            <div class="rtitle">午休新点子教你养生之道</div>
            <div class="des">午休是每个人都需要的</div> 
            <p>10min</p> 
          </div>
          <div class="recommendationsimg">
            <img src="assets/imgs/recommended02.jpg">
      </div>
      </div>
      <div class="recommendations">
            <div class="dation">
              <div class="rtitle">午休新点子教你养生之道</div>
              <div class="des">午休是每个人都需要的</div>
              <p>10min</p>  
            </div>
            <div class="recommendationsimg">
              <img src="assets/imgs/recommended03.jpg">
            </div>
      </div>
      <div class="recommendations">
              <div class="dation">
                <div class="rtitle">午休新点子教你养生之道</div>
                <div class="des">午休是每个人都需要的</div>
                <p>10min</p>  
              </div>
              <div class="recommendationsimg">
                <img src="assets/imgs/recommended04.jpeg">
              </div>
      </div>
    </div>
  
    <div *ngSwitchCase="1">
        <div class="recommendations">
            <div class="dation">
              <div class="rtitle">午休新点子教你养生之道</div>
              <div class="des">午休是每个人都需要的</div>
              <p>10min</p>  
            </div>
            <div class="recommendationsimg">
              <img src="assets/imgs/fitness01.jpg">
            </div>
        </div>
        <div class="recommendations">
              <div class="dation">
                <div class="rtitle">午休新点子教你养生之道</div>
                <div class="des">午休是每个人都需要的,就是</div>
                <p>10min</p>  
              </div>
              <div class="recommendationsimg">
                <img src="assets/imgs/fitness02.jpg">
              </div>
        </div>
        <div class="recommendations">
                <div class="dation">
                  <div class="rtitle">午休新点子教你养生之道</div>
                  <div class="des">午休是每个人都需要的,就是</div>
                  <p>10min</p>  
                </div>
                <div class="recommendationsimg">
                  <img src="assets/imgs/fitness03.jpg">
                </div>
        </div>
        <div class="recommendations">
              <div class="dation">
                <div class="rtitle">午休新点子教你养生之道</div>
                <div class="des">午休是每个人都需要的,就是</div>
                <p>10min</p>  
              </div>
              <div class="recommendationsimg">
                <img src="assets/imgs/fitness04.jpg">
              </div>
        </div>


    </div>
    <div *ngSwitchCase="2">
        <div class="recommendations">
            <div class="dation">
              <div class="rtitle">黑木耳是平和质可以减重</div>
              <div class="des">就是木耳呀</div>
              <p>10min</p>  
            </div>
            <div class="recommendationsimg">
              <img src="assets/imgs/diet01.jpg">
            </div>
        </div>
        <div class="recommendations">
              <div class="dation">
                <div class="rtitle">午休新点子教你养生之道</div>
                <div class="des">午休是每个人都需要的,就是</div>
                <p>10min</p>  
              </div>
              <div class="recommendationsimg">
                <img src="assets/imgs/diet02.jpeg">
              </div>
        </div>
        <div class="recommendations">
                <div class="dation">
                  <div class="rtitle">午休新点子教你养生之道</div>
                  <div class="des">午休是每个人都需要的,就是</div>
                  <p>10min</p>  
                </div>
                <div class="recommendationsimg">
                  <img src="assets/imgs/diet03.jpeg">
                </div>
          </div>
          <div class="recommendations">
              <div class="dation">
                <div class="rtitle">午休新点子教你养生之道</div>
                <div class="des">午休是每个人都需要的,就是</div>
                <p>10min</p>  
              </div>
              <div class="recommendationsimg">
                <img src="assets/imgs/diet04.jpg">
              </div>
          </div>
    </div>
    <div *ngSwitchCase="3">
        <div class="recommendations">
            <div class="dation">
              <div class="rtitle">午休新点子教你养生之道</div>
              <div class="des">午休是每个人都需要的,就是</div>
              <p>10min</p>  
            </div>
            <div class="recommendationsimg">
              <img src="assets/imgs/recommended01.jpg">
            </div>
          </div>
          <div class="recommendations">
              <div class="dation">
                <div class="rtitle">午休新点子教你养生之道</div>
                <div class="des">午休是每个人都需要的,就是</div>
                <p>10min</p>  
              </div>
              <div class="recommendationsimg">
                <img src="assets/imgs/recommended02.jpg">
              </div>
            </div>
            <div class="recommendations">
                <div class="dation">
                  <div class="rtitle">午休新点子教你养生之道</div>
                  <div class="des">午休是每个人都需要的,就是</div>
                  <p>10min</p>  
                </div>
                <div class="recommendationsimg">
                  <img src="assets/imgs/recommended03.jpg">
                </div>
              </div>
    </div>
    <div *ngSwitchDefault>
        <div class="recommendations">
            <div class="dation">
              <div class="rtitle">午休新点子教你养生之道</div>
              <div class="des">午休是每个人都需要的,就是</div>
              <p>10min</p>  
            </div>
            <div class="recommendationsimg">
              <img src="assets/imgs/recommended01.jpg">
            </div>
          </div>
          <div class="recommendations">
              <div class="dation">
                <div class="rtitle">午休新点子教你养生之道</div>
                <div class="des">午休是每个人都需要的,就是</div>
                <p>10min</p>  
              </div>
              <div class="recommendationsimg">
                <img src="assets/imgs/recommended02.jpg">
              </div>
            </div>
            <div class="recommendations">
                <div class="dation">
                  <div class="rtitle">午休新点子教你养生之道</div>
                  <div class="des">午休是每个人都需要的,就是</div>
                  <p>10min</p>  
                </div>
                <div class="recommendationsimg">
                  <img src="assets/imgs/recommended03.jpg">
                </div>
              </div>
    </div>
  </div>
</div> -->