<ion-header>
  <ion-navbar>
    <ion-title>鲜活</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="nav" *ngFor="let info of user_info;">
    <p><img src="{{info.avatar}}"></p>
    <p>{{info.nickname}}<p>    
    <p class="btn1">
      <button outline ion-button [ngStyle]="{'border-color':'#808080'}"
       [ngClass]="{'hide':!flag}" (click)="change(1)">已关注</button>
    </p>
    <p class="btn2">
      <button outline ion-button [ngClass]="{'hide':flag}" (click)="change(0)">关注</button>
    </p>
    <p (click)="goShare()" class="p">
      <ion-icon name="more"></ion-icon>
    </p>  
  </div>

  <ion-slides class="sli" loop autoplay="2000" pager  *ngFor="let img of dynamic;">
    <ion-slide>
      <img src="{{img.imgs}}">
    </ion-slide>
    <ion-slide>
      <img src="{{img.imgs}}">
    </ion-slide>
    <ion-slide>
      <img src="{{img.imgs}}">
    </ion-slide>
  </ion-slides>

  <div class="word" *ngFor="let word of dynamic;">
    <p>{{word.title}}</p>
    <p>{{word.content}}}</p>
    <div class="key">
      <div class="cir"><span>#</span></div>
      <span class="span">每日动态</span>
    </div>
    <div class="span2">{{word.time}}</div>
  </div>

  <div class="commend">
    <span (click)="goShare()"><ion-icon name="share"></ion-icon></span>
    <span [ngClass]="{'hide':love}" (click)="change2()"><ion-icon name="heart-outline"></ion-icon></span>
    <span [ngClass]="{'hide':!love}" (click)="change2()"><ion-icon name="heart" class="love"></ion-icon></span>
    <span [ngClass]="{'hide':star}" (click)="change3(0)"><ion-icon name="star-outline" ></ion-icon></span>
    <span [ngClass]="{'hide':!star}" (click)="change3(1)"><ion-icon name="star" class="star"></ion-icon></span>
    <span (click)="goAssess()"><ion-icon name="text"></ion-icon></span>
  </div>

  <div class="commend2">
    <p (click)="goAssess()">
      <ion-icon name="chatbubbles" color="primary"></ion-icon>动态评论
    </p>
    <hr>
    <div class="com" *ngFor="let avatar of user_info;">
      <img src="{{avatar.avatar}}">
      <input type="text" placeholder="喜欢TA就留下你的评论" [(ngModel)]="input">
      <ion-icon name="happy"></ion-icon>
      <span (click)="release()">发布</span>
    </div>
  </div>

</ion-content>