page-me {
    .toolbar-title-md{
        padding-left: 15%;
    }
      
    .bg{
        width: 100%;
        height: 100%;
        padding-top: 20px;
        background-color:  #e2e2e2;
        .info{
            width: 100%;
            height: 100px;
            padding: 0 5px;
            background-color:  #fff;
            border-bottom: 2px solid #a6a6a6;
            .toux{
                width: 80px;
                height: 80px;
                margin-top: 10px; 
                border-radius:50%;
                float: left;
                border: 1px solid black;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius:50%;
                }
            }
            .name{
                float: left;
                margin-top: 10px; 
                padding: 0 20px;
                .mz{
                    font-size: 20px;
                    margin: 10px 0;
                }
                .gq{
                    font-size: 14px;
                }
            }
        }
        .mine{
            list-style: none;
            margin: 0;
            padding: 0;
            height: 65px;
            background-color:  #fff;
            li{
                float:left;
                width: 22.5%;
                margin-left:2%;
                text-align: center;
                ion-icon{
                    margin: 0 auto;
                    margin-top: 2px;
                    font-size: 30px;
                    color: #ff8d1a;
                }
                p{
                    margin-top: 5px;
                    margin-bottom: 0;
                    font-size: 16px;
                }
            }
        }
        ion-list{
            margin-top: 20px;
            button{
                border-bottom: 2px solid #a6a6a6;
                ion-icon{
                    color: #23a257;
                }
            }
        }
    }

}
