page-welcome {
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
        margin-bottom: 20px;
        background: yellow;
    }
    ion-slide{
        background: url(../assets/imgs/start/start1.jpg);
        background-size: 100%,100%;
        .button-md{
            margin-top: 70%;
            padding: 5%;
            background: rgb(250, 250, 110);
            color: rgb(182, 182, 182);
        }
    }
}
