page-usertail {
    .toolbar-title-md{
        padding-left: 30%;
    }
    ion-content{
        background-color:#e2e2e2;
        span{
            color: gray;
            .ipt{
                border:0!important;
                text-align: right;
            }
        }
    }
}
