/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.container{
    position: absolute;
    left: 15%;
    width: 84%;
}
.breadcrumb{
    background-color: white;
}
.breadcrumb a{
    color: #505050;
}
.breadcrumb a span{
    margin-right:10px;
}
.active span{
    color: #23a257;
}
.title{
    height: 40px;
    clear: both;
    color: #23a257;
    margin-bottom: 10px;
    text-align: center;
    /* border: #23a257 1px solid; */
}
.delbtn{
    padding: 2px 6px;
    color: white;
    border-radius: 5px;
    background-color: red;
    cursor: pointer;
}
.delbtn:hover{
    color: white;    
}
.editbtn{
    padding: 2px 6px;
    color: white;
    border-radius: 5px;
    background-color: #23a257;
    cursor: pointer;
}
.editbtn:hover{
    color: white;    
}
table{
    width: 100%;
    margin-top: 10px;
}
th{
   height: 40px; 
}
td{    
    height: 45px;
}