page-myattention {
    .toolbar-title-md{
        padding-left: 30%;
    }
    ion-content{
        .kapian{
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                border: 1px solid gainsboro;
                float: left;
                width: 100%;
                padding: 5px;
                height: 80px;
                .picture{    
                    float:left;
                    width:70px;
                    height: 70px;
                    border-radius:50%;
                    img{
                        width:100%;
                        height:100%;
                        border-radius:50%;
                    }
                }
                .tail{    
                    float:left; 
                    margin-left: 10px;
                    .nickname{        
                        margin-top: 5px;
                        font-weight: bolder;
                        color: #525050;
                    }
                    .signature{        
                        margin-bottom: 10px;
                        color: #525050;
                    }
                }
                .btn1,.btn2{
                    position: absolute;
                }
                button{
                    width: 70px;
                    height: 30px;
                    border-radius: 20px;
                    font-size: 14px;

                }   
                .btn1 .button-inner{
                    color:#808080;
                }  
                .btn1,.btn2{
                    right:8%;
                }        
            }
        }
        
    }
}
