a{
    color:#8a8a8a;
}
.title2{
    width: 250px;
}
.edit p{
    margin: 15px;
}
.edit p input{
    padding: 5px;
    border-radius: 5px;
}
.edit p textarea{
    border-radius: 5px;
    width: 450px;
    height: 200px;
    margin-top: 10px;
}
.edit p select{
    border-radius: 3px;
    padding: 5px;
}
/* button{
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
}
.change{
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 40px;
    background: #23a257;
}
.cancel{
    background: rgb(224, 33, 33);
} */
.buttons{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}