page-login {
    ion-content{
        background-image: url(../../assets/imgs/login_bg.png)!important;
        .scroll-content{
            overflow:hidden;
        }
        .login-window{
            width:300px;
            margin:0 auto;
            position: relative;
            top: 80px;
            h4{
                text-align: center;
                font-size:30px!important;
                color:#2a5a3d;
            }
            ion-input{
                border:1px solid #cccccc;
                border-radius: 10%;
                background-color: white;
                margin-bottom:20px;
            }
            button{
                font-size:17px;
                background: #23a257;
            }
            p{
                text-align: center;
                color:#2a5a3d;
            }
        }
        
    }
}
