page-login {
    .skip{
        float: right;
        opacity: 0.7;
        color: #23a257;
    }
    ion-content{
        background-image: url(../../assets/imgs/login_bg.png)!important;
        .scroll-content{
            overflow:hidden;
        }
        .login-window{
            width:300px;
            margin:0 auto;
            position: relative;
            top: 80px;
            h4{
                text-align: center;
                font-size:30px!important;
                color:#2a5a3d;
            }
            ion-input{
                border:1px solid #cccccc;
                background-color: white;
                margin-bottom:20px;
            }
            button{
                font-size:17px;
                color:white!important;
                background: #23a257;
            }
            p{
                font-size: 16px;
                color:#2a5a3d;
                padding:0 12px;
            }
            #p3{
                float: right;
            }
            
        }
        
    }
}
