page-share {
    ion-content{
        background: #505050!important;
        opacity: 0.7;
        height:60%;   
    }
    
    .hide{
        display:none;
    }
    ion-footer{
        height: 40%;
        background: #fff;
        opacity: 1;
        #totest{
            background-image: url(../../assets/imgs/test.jpg);
            background-repeat: no-repeat;
            background-size:77% 110%;
            height: 75%;
            p{
                text-align: right;
                color: #238857;
                font:bold 20px arial,sans-serif;
                position: relative;
                top: 80px;
                margin-right: 20px;
            }
        }
        .s{
            background: #f5f5f9;
            height: 80%;
            p{
                text-align: center;
                margin: 0;
                padding-top: 10px;
                font-size: 1.15em;
                color: #505050;
            }
            div{
                width: 33.3%;
                img,span{
                    display: block;
                    margin: 0 auto;
                    text-align: center;
                }
                img{
                    width: 60px;
                    height: 60px;
                    margin-top: 25px;
                    margin-bottom: 10px;
                }
                display: block;
                float: left;
            }           
        }
        .p{
            text-align: center;
            height: 20%;
            font-size: 1.2em;
            color: #3c4a54;
            margin: 10px 0 10px 0;
        }
    }
}
