page-release {
    .button-inner{
        color: rgb(35,162,87);
    }
    .toolbar-title-md{
        padding-left: 35%;
    }
    ion-content{
        .div1{
            .imgs{
                // height:110px;
                // overflow-x:auto;
                .img{
                    border:1px solid #e0dbdb;
                    border-radius: 5px;
                    width: 100px;
                    height:100px;
                    margin: 10px;
                    float: left;
                    ion-icon{
                        transform: scale(2,2);
                        color:#c5c4c4;
                        margin-left: 45%;
                        margin-top: 45%;
                        opacity: 0.6;
                    }
                }
            }
           .word{
                margin: 10px;
                textarea{
                    width: 100%;
                    height:150px;
                    border: none;
                }
           }
        }    
    }
}
