<ion-header>
  <ion-navbar bar-balanced color="wh">
    <ion-title color="primary" ><p class="article">文章详情</p></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="article-title">
    <h4>午休新点子教你养生之道</h4>
    <div>
      <span>111阅读</span>
      <span>·</span>
      <span>10分享</span>
      <span class="spanspe">
        <ion-datetime name="sqsj" displayFormat="YYYY-MM-DD " [(ngModel)]="newLeave.sqsj"></ion-datetime>
      </span>
    </div> 
  </div>
  <div class="article-content"> 
    <!-- <div class="article-"> -->
      <p>
          午休是每一个人都需要的，特别是对于现在的工作族来说。因为早上八点钟上班，
          晚上五点钟下班，所以说整个工作的时间是非常长的。如果在中间不进行一个半小时
          的午休的话，那么很有可能会影响到大家的身体健康，同时大家都明白，
          午休其实是有很多的养生之道的。如果大家能够有一个非常好的午休质量的话，
          那么会对大家的身体产生非常多的积极影响。
      </p>
      <img src="assets/imgs/sleep01.jpg">
      <p>
          按摩头部或洗个头。如果整个上午都在电脑前，几个小时下来，不但眼睛酸涩，
          肩颈也会紧绷僵硬。午休时不妨按摩一下睛明穴、太阳穴、百会穴、风池穴等头部
          穴道，有助于舒缓肌肉，达到明目的效果。此外，还可以去美发店洗个头，
          整个人都会变得神清气爽。
      </p>
      <p>
          饭后遛弯。疲倦不一定是因为没睡够，也可能是缺乏运动导致的。不妨趁午休时间
          到室外散散步，有助于放松心情，让筋络畅通、气血运行更顺畅。
      </p>
      <img src="assets/imgs/sleep02.png">
      <p>
          冷毛巾敷脸。忙了一个上午后，人们早已一脸油光，皮肤闷在油脂和灰尘里透不过气
          来，让人精神状态不佳。午休时洗把脸，或者用手帕、小毛巾蘸冷水，敷脸几分钟，
          脸部温度降低，能让你下午神采奕奕。
      </p>
    <!-- </div> -->
  </div>


  <div class="operation">
    <ion-icon name="share" (click)="doPrompt()"></ion-icon>
      <!-- <ion-icon name="star-outline" *ngFor="let item of arr;let idx=index" (click)="Collection()" (click)="isClick(idx)" [class.first]="isActive==idx"></ion-icon>
       -->
       <ion-icon name="star-outline" (click)="Collection(idx)"  *ngFor="let item of arr;let idx=index" [class.collection]="isActive==idx"></ion-icon>
  </div>
 
</ion-content>
