<div class="wrap">
  <!-- 面包屑 -->
  <div class="bread">
    <img src="../../../assets/imgs/home.svg">
    <span>当前位置：用户管理>>用户详细信息</span>
  </div>
  <!-- 信息 -->
  <div class="info">
    <h3>
      用户ID：{{userid}}
      <span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        用户昵称：{{nickname}}
      </span>
    </h3>
  </div>
  <ul class="navlist">
    <li (click)="isClick(0)" [class.first]="isActive==0">动态</li>
    <li (click)="isClick(1)" [class.first]="isActive==1" (click)="goSC()">收藏</li>
    <li (click)="isClick(2)" [class.first]="isActive==2" (click)="goGZ()">关注</li>
    <li (click)="isClick(3)" [class.first]="isActive==3" (click)="goFS()">粉丝</li>
  </ul>
  <div [ngSwitch]="isActive" class="detail">
    <!-- 动态 -->
    <div *ngSwitchCase="0" class="out">
      <table>
        <tr>
          <td class="id">ID</td>
          <td class="time">时间</td>
          <td class="title">题目</td>
          <td class="content">内容</td>
          <td class="img">图片</td>
          <td class="class">类别</td>
          <td class="option">操作</td>
        </tr>
        <tr *ngFor="let mydy of mydynamic;let i=index">
          <td>{{mydy.did}}</td>
          <td>{{mydy.time}}</td>
          <td>{{mydy.title}}</td>
          <td>{{mydy.content}}</td>
          <td>{{mydy.imgs}}</td>
          <td>{{dclass[i]}}</td>
          <td>
            <div>
              <button class="delete" (click)="delMD(mydy.did)">删除</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <!-- 收藏 -->
    <div *ngSwitchCase="1" class="out">
      <table>
        <tr>
          <td class="id">ID</td>
          <td class="time">时间</td>
          <td class="title">题目</td>
          <td class="content">内容</td>
          <td class="img">图片</td>
          <td class="class">类别</td>
          <td class="option">操作</td>
        </tr>
        <tr *ngFor="let cdyna of cdynamic;let i=index">
          <td>{{cdyna.did}}</td>
          <td>{{cdyna.time}}</td>
          <td>{{cdyna.title}}</td>
          <td>{{cdyna.content}}</td>
          <td>{{cdyna.imgs}}</td>
          <td>{{cdclass[i]}}</td>
          <td>
            <div>
              <button class="delete" (click)="delCD(cdyna.did)">删除</button>
            </div>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td class="id">ID</td>
          <td class="bid">体质</td>
          <td class="title">题目</td>
          <td class="content">内容</td>
          <td class="img">图片</td>
          <td class="class">类别</td>
          <td class="option">操作</td>
        </tr>
        <tr *ngFor="let creco of crecommod;let i=index">
          <td>{{creco.rid}}</td>
          <td>{{rbody[i]}}</td>
          <td>{{creco.title}}</td>
          <td>{{creco.content}}</td>
          <td>{{creco.imgs}}</td>
          <td>{{rclass[i]}}</td>
          <td>
            <div>
              <button class="delete" (click)="delCR(creco.rid)">删除</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <!-- 关注 -->
    <div *ngSwitchCase="2" class="out">
      <table>
        <tr>
          <td class="id">ID</td>
          <td class="sex">性别</td>
          <td class="img">头像</td>
          <td class="nickname">昵称</td>
          <td class="signature">个签</td>
          <td class="city">城市</td>
          <td class="time">生日</td>
          <td class="bid">体质</td>
          <td class="option">操作</td>
        </tr>
        <tr *ngFor="let atten of attention;let i=index">
            <td>{{atten.uid}}</td>
            <td>{{atten.sex}}</td>
            <td>{{atten.avatar}}</td>
            <td>{{atten.nickname}}</td>
            <td>{{atten.signature}}</td>
            <td>{{atten.city}}</td>
            <td>{{atten.birth}}</td>
            <td>{{abody[i]}}</td>
            <td>
              <div>
                <button class="delete" (click)="delAT(atten.uid)">删除</button>
              </div>
            </td>
          </tr>
      </table>
    </div>
    <!-- 粉丝 -->
    <div *ngSwitchCase="3" class="out">
      <table>
        <tr>
          <td class="id">ID</td>
          <td class="sex">性别</td>
          <td class="img">头像</td>
          <td class="nickname">昵称</td>
          <td class="signature">个签</td>
          <td class="city">城市</td>
          <td class="time">生日</td>
          <td class="bid">体质</td>
          <td class="option">操作</td>
        </tr>
        <tr *ngFor="let fan of fans;let i=index">
            <td>{{fan.uid}}</td>
            <td>{{fan.sex}}</td>
            <td>{{fan.avatar}}</td>
            <td>{{fan.nickname}}</td>
            <td>{{fan.signature}}</td>
            <td>{{fan.city}}</td>
            <td>{{fan.birth}}</td>
            <td>{{fbody[i]}}</td>
            <td>
              <div>
                <button class="delete" (click)="delFA(fan.uid)">删除</button>
              </div>
            </td>
          </tr>
      </table>
    </div>
  </div>
</div>
