page-report{
    .toolbar-title-md{
        padding-left:28%;
    }
    ul{
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 10px;
    }

    li{
        float: none;
    }
    h6{
        border-bottom:0.4px solid rgba(80,80,80,0.3);
        border-top:0.4px solid rgba(80,80,80,0.3);
        padding:5px;
        ion-icon{
            color:#23a257;
        }
        img{
            width:20px;
            height:20px;
        }
    }
    ion-content{
        .hide{
            display: none;
        }
        .box{
            text-align: center;
            color: #ccc;
            margin-top: 100px;
            line-height: 180px;
            p{
                font-size: 30px;
            }
        }
        .reportbox{
            .result{
                text-align: center;
                font-size: 16px;
                .first{
                    border:1px solid ghostwhite;
                    margin-top:-7px;
                    .main{
                        color: #23a257;
                        font-size:24px;
                        margin-top:-10px;
                    }
                }
                .second{
                  // border:1px solid lawngreen;
                  margin-top:-25px;
                  padding-top:-5px;
                  color:rgb(80,80,80);
                  .tendency{
                      color: #ff8d1a;
                  }
                }
            }

            //图表
            .EchartsDiv{
                width:100%;
                // height:25%!important;
                height: 150px;
                margin-top:-50px;
                
            }

            //调养以及解释
            .tip{
                margin-top:30px;
                border-bottom:0.4px solid rgba(80,80,80,0.3);
                border-top:0.4px solid rgba(80,80,80,0.3);
                padding-top:5px;
                padding-bottom:5px;
                .tipdiv{
                    font-size: 1rem;
                    .tipspan0{
                        background-color: #23a257;

                    }
                    .tipspan1{
                        background-color: #ff8d1a;
                    }
                    .tipspan2{
                        font-size:14px;
                        color:black;
                    }
                }
            }





            .explain{
                //   border:1px solid darkgreen;
                  margin-top:5px;
                  color:#23a257;
                  h6{
                      border-top:none;
                  }
                  .explain-details{
                      color:black;
                      line-height: 28px;
                      text-indent: 2em;
                      font-size:16px;
                  }
                  .describe{
                      color: rgb(80,80,80);
                      .describe-details{
                          font-size:14px;
                          line-height: 26px;
                          p{
                              margin-bottom:-5px;
                          }
                      }
                  }
                  
              }
              .feature{
                  color:#23a257;
                  margin-top:10px;
                  
                  ul{
                      color: black;
                      line-height: 26px;
                      li{
                        margin-bottom:15px;
                        span{
                            color:#23a257;
                            font-size:16px;
                        }
                      }
                      
                  }
              }
              .troubled{
                color:#23a257;
                ul{
                    color: black;
                    line-height: 26px;
                    li{
                        margin-bottom:15px;
                        span{
                            color:#23a257;
                        }
                    }
                }
              }
              .improve{
                  color:#23a257;
                 
                  ul{
                    color:black;
                    line-height: 26px;
      
                    li{
                        margin-bottom:15px;
                        span{
                            color:#23a257;
                            font-size:20px;
                            margin-right:5px;
                        }
                    }
                  }
              }



        }

    }
}
