table{   
    width: 100%;
    color:#505050;
    text-align: center;
}

tr:nth-of-type(odd){
    background-color: rgba(200, 243, 174, 0.671);
}
tr:nth-of-type(even){
    background-color: #eee;
}
th{
    text-align: center;
    background: #ffeb3b;
}
td{
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
select{
    border-radius: 3px;
    padding: 5px;
    color: #505050;
}
.p{
    /* float: right; */
    color: #23a257;
}
.p2{
    /* float: right; */
    margin-top: 4px;
    margin-left: 40px;
}
.p2 span{
    color: #e64340;
    font-weight: bold;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttons{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.searches{
    /* width: 70%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: #23a257 1px solid; */
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.outbtn{
    width: 18%;
}
