page-register {
    ion-content{
        background-image: url(../assets/imgs/reg_bg.jpg);
        background-size: cover;   
        .box{
            .regi{
                // // margin:auto;
                // margin-top: 80px;
                // margin-bottom: 20px;
                h3{
                    text-align: center;
                    font-size: 30px;
                    color:#2a5a3d;
                }   
            }
            text-align: center;
            width: 280px;
            margin:0 auto;
            position: relative;
            top: 80px;
            ion-input{
                border:1px solid #cccccc;
                background-color: white;
                margin-bottom:20px;
            }
            p{
                text-align: center;
                color:#2a5a3d;
            }
        }
    }
}
