page-register {
    ion-content{
        background: url(../assets/imgs/register_bg.png);
        background-size: cover;
        ion-navbar{
            text-align: center;
            margin: 80px 30px 0 0;
            h3{
                font-size: 25px;
                color: #23a257;
            }
        }
    .box{
        text-align: center;
            ion-item{
                background: transparent;
                ion-icon{
                    color:#d1dad8;
                }
                input::-webkit-input-placeholder {
                    font-size: 14px;
                }
            }
            p{
                color: #23a257;
                text-align: center;
            }
        }
    }
}
