page-settings {
    .toolbar-title-md{
        padding-left: 35%;
    }
    ion-content{
        background-color:whitesmoke!important;
        ion-list{
            .ion-item{
                padding-left:20px;
            }
        }
        .btn{
            display:none;
        }
        .show{
            display:inline;
        }
    }

}
